# ---------- PRINTER.CFG ---------- #

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 57.0
shaper_type_y = mzv
shaper_freq_y = 60.8

[extruder]
control = pid
pid_kp = 23.073
pid_ki = 1.789
pid_kd = 74.408

[heater_bed]
control = pid
pid_kp = 63.243
pid_ki = 0.646
pid_kd = 1548.654

# ---------- INITIALIZATION ---------- #

# Этот gcode выполняется после 5 секунд как принтер загрузится
[delayed_gcode startup_code]
initial_duration: 5
gcode:
    # Максимальные ускорения по умолчанию - 5к
    SET_VELOCITY_LIMIT ACCEL=5000
    # Температура в камере не более 40 градусов
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_fan TARGET=40
    # Отключение прогрева стола 10 минут
    SET_PIN PIN=Bed_Warp_Stabilisation VALUE=0

# ---------- EDDYNG.CFG ---------- #

[probe_eddy_ng btt_eddy]
# Я так понял, чтобы он носиком ниже бился (для z-offset)
tap_target_z: -1.000
# z-offset
tap_adjust_z = 0.050

[bed_mesh]
# Исключение мёртвых зон
# X < 5
faulty_region_1_min: 0,0
# Если поставить 205, то ругнётся на overlap
faulty_region_1_max: 5,204.999
# Y > 205
faulty_region_2_min: 0,205
faulty_region_2_max: 220,220


# ---------- START_END.CFG ---------- #

[gcode_macro _START_END_PARAMS]
variable_end_print_keep_bed_heated: False

[gcode_macro _CLIENT_VARIABLE]
# На сколько опускать стол после печати
variable_custom_park_dz: 60
# Где парковать Y ось
variable_park_at_cancel_y: 190
# Сколько филамента вытягивать после печати/отмены в мм
variable_cancel_retract: 10

[gcode_macro _KAMP_Settings]
# Сколько сопло должно выдавить филамента перед началом движения линии в мм
variable_tip_distance: 5.0
# Сколько сопло должно выдавить филамента во время движения в мм
variable_purge_amount: 50

# ---------- USEFUL_MACROS.CFG ---------- #

[gcode_macro LOAD_FILAMENT]
# Сколько филамента должно загружаться при нажатии на кнопку
variable_extrude_len: 200


# ---------- CUSTOM ---------- #
[gcode_macro _CUSTOM_ANDREWSHA_SETTINGS]
# Позиция x,y start для начала Line Purge, а также для Smart Park
variable_purge_start_x: 85
variable_purge_start_y: 212
variable_purge_end_x: 35
variable_purge_end_y: 212

# Лимиты bed_mesh
variable_bed_mesh_range_limit: 0.30
variable_bed_mesh_pause_on_high_range: True

gcode:
