# custom andrewsha

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 57.0
shaper_type_y = mzv
shaper_freq_y = 60.8

[extruder]
control = pid
pid_kp = 23.073
pid_ki = 1.789
pid_kd = 74.408

[heater_bed]
control = pid
pid_kp = 63.243
pid_ki = 0.646
pid_kd = 1548.654


# Этот gcode выполняется после 5 секунд как принтер загрузится
[delayed_gcode startup_code]
initial_duration: 5
gcode:
    # Максимальные ускорения по умолчанию - 5к
    SET_VELOCITY_LIMIT ACCEL=5000 
    # Температура в камере не более 40 градусов
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_fan TARGET=40
    # Отключение прогрева стола 10 минут
    SET_PIN PIN=Bed_Warp_Stabilisation VALUE=0
