# based on https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging/blob/main/Configuration/Smart_Park.cfg
# modified to park over the start of the Line_Purge position always
[gcode_macro _SMART_PARK]
description: Parks your printhead over the start of line purge
gcode:
    # Get relevant printer params
    {% set travel_speed = (printer.toolhead.max_velocity) * 30 | float %}
    {% set z_height = printer["gcode_macro _KAMP_Settings"].smart_park_height | float %}

    # custom andrewsha. Always park at fixed line purge start position
    {% set park_x = printer["gcode_macro _KAMP_Settings"].purge_start_x | float %}
    {% set park_y = printer["gcode_macro _KAMP_Settings"].purge_start_y | float %}

    { action_respond_info("Smart Park location: {},{}.".format(
            (park_x),
            (park_y),
        )) }

    SAVE_GCODE_STATE NAME=Prepurge_State                                                    # Create gcode state

    G92 E0                                                                                  # Reset extruder
    G0 F{travel_speed}                                                                      # Set travel speed
    G90                                                                                     # Absolute positioning
    G0 X{park_x} Y{park_y}                                                                  # Move to purge start position
    G0 Z{z_height}                                                                          # Move to purge Z height

    RESTORE_GCODE_STATE NAME=Prepurge_State                                                 # Restore gcode state
