# custom andrewsha

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 61.6
shaper_type_y = mzv
shaper_freq_y = 56.8

[extruder]
control = pid
pid_kp = 24.446
pid_ki = 2.629
pid_kd = 56.835

[heater_bed]
control = pid
pid_kp = 64.112
pid_ki = 0.708
pid_kd = 1452.141


# Этот gcode выполняется после 5 секунд как принтер загрузится
[delayed_gcode startup_code]
initial_duration: 5
gcode:
    # Максимальные ускорения по умолчанию - 5к
    SET_VELOCITY_LIMIT ACCEL=5000 
    # Температура в камере не более 40 градусов
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_fan TARGET=40
    # Отключение прогрева стола 10 минут
    SET_PIN PIN=Bed_Warp_Stabilisation VALUE=0
